*{
    padding:10;
    margin: 15;
    box-sizing: border-box;
}
body{
    background: blue;
}
header{
    display:flex;
    justify-content:space-around;
    align-items: center; 
    background-color: green;
    
}